.DS_Store
Resources
build.log
build
npm-debug.log
.map
.project
.settings
.swp
Thumbs.db
log/*.log
tmp/
*.pyc

# 自动保存(vim)
*.swp
*.swo
*.swn


*.tmp
*.bak
doc/~$*
REVISION
log
*.log
.idea/*.xml
*.zip
nohup.out
run
node_modules
*.apk

# MVC
app/controllers/*.js
app/views/*.xml
app/styles/*.tss
app/views/home

# 配置文件
tiapp.xml
Gruntfile.coffee
package.json
app/alloy.js