// The contents of this file will be executed before any of
// your view controllers are ever executed, including the index.
// You have access to all functionality on the `Alloy` namespace.
//
// This is a great place to do any initialization for your app
// or create any global variables/functions that you'd like to
// make available throughout your app. You can easily make things
// accessible globally by attaching them to the `Alloy.Globals`
// object. For example:
//
// Alloy.Globals.someGlobalFunction = function(){};
Setting = {
    //server: 'http://106.185.52.66:1120',//记得修改成自己的接口
    //server: 'http://106.185.52.66:1000',
    //server: 'http://106.185.52.66:1113',
    //server: 'http://106.185.55.68:3333', //正式服务器
    server: 'http://localhost:7777', //正式服务器
    image_url:'/uploads/images/',

    pid: 'pid_of_android_market',
    secure_token: 'big_big_Apple',
};
market = {
    there_stock_url :'http://hq.sinajs.cn/list=s_sh000001,s_sz399001,s_sz399006',
    detail_there_stock_url :'http://hq.sinajs.cn/list=sh000001,sz399001,sz399006',
    increase_table_url :'http://vip.stock.finance.sina.com.cn/quotes_service/api/json_v2.php/Market_Center.getHQNodeData?page=1&num=40&sort=changepercent&asc=0&node=hs_a&symbol=&_s_r_a=sort#',
    drop_table_url :'http://vip.stock.finance.sina.com.cn/quotes_service/api/json_v2.php/Market_Center.getHQNodeData?page=1&num=40&sort=changepercent&asc=1&node=hs_a&symbol=&_s_r_a=sort#',
    turnover_rate_url :'http://vip.stock.finance.sina.com.cn/quotes_service/api/json_v2.php/Market_Center.getHQNodeData?page=1&num=40&sort=turnoverratio&asc=0&node=hs_a&symbol=&_s_r_a=sort#',
};
//当前登陆用户信息
app_session = {
  user_info : {
  }
};
//上一次登陆用户的头像缓存
last_login = {
    photo: "/images/public/default.png"
};
Q = require('q');
//版本更新
version = {
    url:'interface/versions'
};
//其他的一些常用字段
Other = {
    Network_unstable :'网络不给力'
};
