Alloy
    Window
        ImageView#imageView(image='/images/background_fitment_customize.jpg' width='100%' height='100%')
        View(layout='vertical')
            Button(onClick="back" title="装修定制,back" top='10dp')
            Button(onClick="customzie" title="定制")
            Button(onClick="sample" title="样房")
            Button(onClick="sample_menu" title="样房选择菜单")
            Button(onClick="style" title="风格")
