Alloy
    Window(layout='vertical')
        include ./utilty/header_fitment_customize.jade
        View(bottom='0' top='0')
            View#style_view(layout='vertical' bottom='0' top='0')
                View(layout='horizontal' height='88px' backgroundColor='white')
                    Label#title_01(onClick='show_style_menu_open' width='25%' textAlign='center' color='black' text='风格')
                    Label#title_02(onClick='show_style_menu_close' width='25%' textAlign='center' color='black' text='空间')
                    Label#title_03(onClick='show_style_menu_open' width='25%' textAlign='center' color='black' text='局部')
                    Label#title_04(onClick='show_style_menu_close' width='25%' textAlign='center' color='black' text='颜色')
                View(bottom='0')
                    View#style_detail(height='100%' width='100%')
                        ImageView(image='/images/customize/style_detail.png' width='100%' height='100%')
                    View#style_menu(height='100%' width='100%')
                        ImageView(image='/images/customize/style_menu.png' width='100%' height='100%')
            View#customize_view(bottom='0' top='0' backgroundColor='blue')
                View#customize_image_menu(bottom='0' top='0' width='100%' backgroundColor='gray')
                    ImageView(image='/images/customize/customize_menu.png' width='100%' height='100%')
                View#customize_image_detail(bottom='0' top='0' width='100%' backgroundColor='red')
                    ImageView(image='/images/customize/customize_detail.png' width='100%' height='100%')
