Alloy
    Window
        ImageView#imageView(image='/images/background_fitment_customize.jpg' width='100%' height='100%')
        View(layout='vertical')
            Button(onClick="back" title="返回(服务)" top='10dp')
            Button(onClick="customzie" title="定制(总览)")
            Button(onClick="sample_menu" title="定制(精细)")
            Button(onClick="sample" title="样房")
            Button(onClick="style" title="风格")
