Alloy
    Window
        View(layout='vertical')
            include ./home/header.jade
            View(height='910px')
                include ./home/require.jade
                include ./home/service.jade
                include ./home/progress.jade
                include ./home/discover.jade
            include ./home/footer.jade
