Alloy
    Window(height='100%')
        View(layout='vertical')
            include ./home/header.jade
            View#home_content(top='0')
                include ./home/require.jade
                include ./home/service.jade
                include ./home/progress.jade
                include ./home/discover.jade
            include ./home/footer.jade
