Alloy
    Window(backgroundImage='/images/background_login.jpg' layout='vertical')
        Button(onClick="to_login_view" title="login")
        Button(backgroundColor="green" onClick="to_pro_list" title="进入管家" bottom=0)
