Alloy
    Window
        View(class='windows')
            include ./utilty/header.jade
            View(class='label_textfield')
                Label(text='手机号' class='label_textfield_label')
                TextField#phone(hintText='请输入手机号' class='label_textfield_textfield' keyboardType='Titanium.UI.KEYBOARD_NUMBER_PAD')
            View(class='gray_line')
            View(class='label_textfield')
                Label(text='密    码' class='label_textfield_label')
                TextField#password(hintText='请输入密码' class='label_textfield_textfield' returnKeyType='Titanium.UI.RETURNKEY_DEFAULT' keyboardType='Titanium.UI.KEYBOARD_DEFAULT' passwordMask='true')
            View(class='gray_line')
            View(backgroundColor='#F1F1EF' bottom='0' layout='vertical')
                Button(onClick='login' left='5%' right='5%' borderColor='#BE328C' height='60px' borderRadius='5' title='登录' backgroundColor='#BE348A' top='30px' color='white' )
                Button(onClick='to_register_view' title='注册' textAlign='center' width='100%' color='#C5C5C5' top='30px')
                Button(onClick='free_login' title='免登录' textAlign='center' width='100%' color='#C5C5C5' top='30px')
