Alloy
    Window(layout='vertical' backgroundColor='white')
        include ./utilty/header.jade
        View(layout='horizontal' height='60px' top='5%')
            Label(text='手机号' textAlign='center' left='30px')
            TextField(left='10%' right='10%' hintText='请输入手机号')
        View(width='100%' height='1px' backgroundColor='#C5C5C5')
        View(layout='horizontal' height='60px' top='5%')
            Label(text='密  码' textAlign='center' left='30px')
            TextField(left='10%' right='10%' hintText='请输入密码')
        View(width='100%' height='1px' backgroundColor='#C5C5C5')
        View(layout='vertical' backgroundColor='#F1F1EF' bottom='0')
            Button(onClick='to_home_view' left='5%' right='5%' borderColor='#BE328C' height='60px' borderRadius='5' title='登录' backgroundColor='#BE348A' top='30px' color='white' )
            Button(onClick='to_register_view' title='注册' textAlign='right' right='10%' width='90%' color='#C5C5C5' top='30px')
