Alloy
    Window
        View(class='windows')
            include ./utilty/header.jade
            View(class='label_textfield')
                Label(text='手机号' class='label_textfield_label')
                TextField#phone(hintText='请输入手机号' class='label_textfield_textfield' keyboardType='Titanium.UI.KEYBOARD_NUMBER_PAD')
            View(class='gray_line')
            View(class='label_textfield')
                Label(text='密    码' class='label_textfield_label')
                TextField#password(hintText='请输入密码' class='label_textfield_textfield' returnKeyType='Titanium.UI.RETURNKEY_DEFAULT' keyboardType='Titanium.UI.KEYBOARD_DEFAULT' passwordMask='true')
            View(class='gray_line')
            View(backgroundColor='#F1F1EF' bottom='0')
