Alloy
    Window
        View(class='windows')
            include ./utilty/header.jade
            View(class='label_textfield')
                Label(text='手机号' class='label_textfield_label')
                TextField(hintText='请输入手机号' class='label_textfield_textfield')
            View(class='gray_line')
            View(class='label_textfield')
                Label(text='密码' class='label_textfield_label')
                TextField(hintText='请输入密码' class='label_textfield_textfield')
            View(layout='vertical' backgroundColor='#F1F1EF' bottom='0')
