Alloy
    Window
        View(class='windows')
            include ./utilty/header.jade
            View(class='label_textfield')
                Label(text='旧密码' class='label_textfield_label')
                TextField#old_password(hintText='请输入旧密码' class='label_textfield_textfield' passwordMask='true')
            View(class='gray_line')
            View(class='label_textfield')
                Label(text='新密码' class='label_textfield_label')
                TextField#new_password(hintText='请牢记新密码' class='label_textfield_textfield' returnKeyType='Titanium.UI.RETURNKEY_DEFAULT' keyboardType='Titanium.UI.KEYBOARD_DEFAULT')
            View(class='gray_line')
            View(backgroundColor='#F1F1EF' bottom='0')
