Alloy
    Window(layout='vertical')
        include ./utilty/header.jade
        View(layout='vertical' bottom='0')
            ImageView(onClick='to_user_info_view' image='/images/setting/head_icon.png' width='100%' height='15%')
            Button(onClick='to_suggest_view' title='意见反馈' textAlign='center' width='100%' color='black' top='0px' backgroundColor='white')
            ImageView(image='/images/setting/other.png' width='100%' buttom='0')
