Alloy
    Window
        ImageView#imageView(image='/images/background_user_info.jpg' width='100%' height='100%')
        View(layout='vertical')
            Button(onClick="back" title="用户信息设置页" top='10dp')
