View#header_back(height='128px' backgroundColor='white')
    View(width='100%' height='40px' top='0px')
    View(width='100%' height='88px' top='40px')
        Label#title(width='100%' height='88px' textAlign='Titanium.UI.TEXT_ALIGNMENT_CENTER' color='black')
        ImageView#back(image='/images/utilty/back.png' left='22px' width='40px' height='50px' top='22px')
        Button#other_button(right='22px' width='100px' height='40px' textAlign='left' color='black' top='22px')
        ImageView#other_imageview(top='22px' right='22px' width='40px' height='40px')
    View(onClick='back' left='0' width='200px' height='100%')
    View#other_click(height='100%' right='0' width='200px')
    View(width='100%' height='1px' bottom='0px')

