module.exports = (grunt) ->
  grunt.initConfig
    #增加对coffee文件的监视
    watch:
      coffee:
        files:
          [
            'src/controllers/*.coffee'
          ]
        tasks: ["newer:coffee"]
      stss:
        files:
          [
            'src/styles/*.stss'
          ]
        tasks: ["newer:stss"]
      jade:
        files:
          [
            'src/views/*.jade'
          ]
        tasks: ["newer:jade"]

    coffee:
      compile_multiple_files:
        options:
          bare: true
        files:
          # 1:1 的编译文件
          #'app/controllers/simulate_stocks.js': 'app/controllers/simulate_stocks.coffee'
          # 编译多个文件
          [
            expand: true
            flatten: true
            cwd: 'src/controllers/'
            src: ['*.coffee']
            dest: 'app/controllers/'
            ext: '.js'
          ]
      compile_home_js:
        options:
          bare: true
        files:
          # 把多个文件合并
          'app/controllers/home.js': [
            'src/controllers/home/header.coffee'
            'src/controllers/home/require.coffee'
            'src/controllers/home/service.coffee'
            'src/controllers/home/progress.coffee'
            'src/controllers/home/discover.coffee'
            'src/controllers/home/footer.coffee'
            'src/controllers/home/begin.coffee'
          ]

    jade:
      compile:
        options:
          pretty: true
        files: [
          expand: true
          src: ['*.jade']
          dest: 'app/views' # 写成  'app/views' 也行,
          cwd: 'src/views'  # 如果 dest是'app/views', 这里就要是 'src/views'
          ext: '.xml'
        ]

    stss:
      compile:
        files:[
          expand: true
          src: ['*.stss' ]
          dest: 'app/styles'
          cwd: 'src/styles'
          ext: '.tss'
        ]

  grunt.loadNpmTasks 'grunt-contrib-watch'
  grunt.loadNpmTasks 'grunt-contrib-coffee'
  grunt.loadNpmTasks 'grunt-contrib-jade'
  grunt.loadNpmTasks 'grunt-newer'
  grunt.loadNpmTasks 'grunt-stss'

  grunt.registerTask 'default', [ 'coffee', 'jade','stss' ]
  #grunt.registerTask 'default', [ 'coffee', 'jade' ]
