View#discover(layout='vertical' height='910px')
    View(layout='vertical' height='100%')
        ImageView(onClick='discover_pirture' image='/images/discover/discover_pirture.png' height='50%' top='0' width='100%')
        ImageView(onClick='discover_skill' image='/images/discover/discover_skill.png' height='50%' width='100%')


