View#footer(layout='vertical' height='98px')
    View(layout='horizontal' backgroundColor='white')
        ImageView#require_button(onClick='show_require' height='100%' left='0' width='25%')
        ImageView#service_button(onClick='show_service'  height='100%' width='25%')
        ImageView#progress_button(onClick='show_progress'  height='100%' width='25%')
        ImageView#discover_button(onClick='show_discover'  height='100%' width='25%')
