View#footer(layout='vertical' height='10%')
    View(layout='horizontal')
        ImageView#require_button(onClick='show_require' image='/images/footer/btn_require.png' height='100%' left='0' width='25%')
        ImageView#service_button(onClick='show_service' image='/images/footer/btn_service.png' height='100%' width='25%')
        ImageView#progress_button(onClick='show_progress' image='/images/footer/btn_progress.png' height='100%' width='25%')
        ImageView#discover_button(onClick='show_discover' image='/images/footer/btn_discover.png' height='100%' width='25%')
