View#header(layout='vertical' height='128px')
    View(width='100%' height='40px' backgroundColor='white' )
    View
        Label#title(height='88px' width='100%' text='我的服务' textAlign='Titanium.UI.TEXT_ALIGNMENT_CENTER' backgroundColor='white')
        View#head_icon(onClick='go_setting_view' height='88px'  borderRadius='50' left='0' width='88px' backgroundColor='red')
            ImageView(image='/images/header/head.png' center='true' width='80%')
