View#header(layout='vertical' height='10%')
    View
        ImageView#head(image='/images/header/head.png' height='100%' left='0' width='20%')
        Label#title(height='100%' width='100%' text='我的服务' textAlign='Titanium.UI.TEXT_ALIGNMENT_CENTER' backgroundColor='white')
