View#progress(layout='vertical')
    View(layout='horizontal' height='10%')
        ImageView#imageView_1(image='/images/progess/fitment_progess.jpg' width='33%' height='100%')
        ImageView#imageView_2(image='/images/progess/construct_progess.jpg' width='33%' height='100%')
        ImageView#imageView_3(image='/images/progess/actualize_progess.png' width='33.9%' height='100%')
    View(height='90%')
        View#view_01(width='100%' heght='100%')
            ImageView#imageView_4(image='/images/progess/construct_progess.jpg' height='100%' top='0' width='100%')
        View#view_02(layout='vertical' width='100%' heght='100%')
            ImageView#imageView_5(image='/images/progess/actualize_house_info.jpg' height='20%' top='0' width='100%')
            ImageView#imageView_6(image='/images/progess/construct_detail.jpg' height='80%')
        View#view_03(layout='vertical' width='100%' heght='100%')
            ImageView#imageView_7(image='/images/progess/actualize_house_info.jpg' height='20%' top='0' width='100%')
            ImageView#imageView_8(image='/images/progess/actualize_detail.jpg' height='100%')
