View#progress(layout='vertical')

    View(layout='horizontal' height='88px' borderColor='#C5C5C5' borderWidth='2px')
        Button#progress_fitment_button(onClick='show_progress_fitment' title='装修进度' left='0' width='212px' height='100%' )
        Button(width='2px' height='100%' backgroundColor='#C5C5C5')
        Button#progress_construct_button(onClick='show_progress_construct' title='施工进度'  width='212px' height='100%')
        Button(width='2px' height='100%' backgroundColor='#C5C5C5')
        Button#progress_actualize_button(onClick='show_progress_actualize' title='实时进度'  width='212px' height='100%')

    View(height='822px')
        View#progress_fitment(width='100%' heght='100%')
            ImageView(image='/images/progress/fitment_detail.jpg' height='100%' top='0' width='100%')
        View#progress_construct(layout='vertical' width='100%' heght='100%')
            ImageView(image='/images/progress/actualize_house_info.jpg' height='20%' top='0' width='100%')
            ImageView(image='/images/progress/construct_detail.jpg' height='80%' width='100%')
        View#progress_actualize(layout='vertical' width='100%' heght='100%')
            ImageView(image='/images/progress/actualize_house_info.jpg' height='20%' top='0' width='100%')
            ImageView(image='/images/progress/actualize_detail.jpg' height='80%' width='100%')
