View#progess(layout='vertical')
    View(layout='horizontal' height='10%')
        ImageView#imageView_1(image='/images/progess/fitment_progess.jpg' width='33%')
        ImageView#imageView_2(image='/images/progess/construct_progess.jpg' width='33%')
        ImageView#imageView_3(image='/images/progess/construct_progess.jpg' width='34%')
    View(height='90%')
        View#view_01(onClick)
            ImageView#imageView_4(image='/images/progess/construct_progess.jpg')
        View#view_02(layout='vertical')
            ImageView#imageView_5(image='/images/progess/actualize_house_info.jpg')
            ImageView#imageView_6(image='/images/progess/construct_detail.jpg')
        View#view_03(layout='vertical')
            ImageView#imageView_7(image='/images/progess/actualize_house_info.jpg')
            ImageView#imageView_8(image='/images/progess/actualize_detail.jpg')
