View#service(layout='vertical' height='100%')

    View(layout='vertical' height='30%')
        ImageView(image='/images/service/publicity.jpg' height='100%' left='0' width='100%')

    View(layout='horizontal' height='35%' borderColor='#C5C5C5' borderWidth='1px')
        ImageView(onClick='go_fitment_customize_view' image='/images/service/fitment_customize.png' height='100%' left='0' width='49.9%')
        View(height='100%' width='0.2%' backgroundColor='#C5C5C5')
        ImageView(onClick="to_designer_list" image='/images/service/design.png' height='100%' right='0' width='49.5%')

    View(layout='horizontal' height='35%' borderColor='#C5C5C5' borderWidth='1px')
        ImageView(image='/images/service/repaire.png' height='100%' left='0' width='49.9%')
        View(height='100%' width='0.2%' backgroundColor='#C5C5C5')
        ImageView(image='/images/service/chamberlaine.png' height='100%' right='0' width='49.5%')
